{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<h1 class="ui header">{{ anuncio }}
    <div class="sub header">Anunciado em: {{ anuncio.criado_em }}</div>
    <div class="sub header">Modificado em: {{ <anuncio class="alterado_em"></anuncio> }}</div>
</h1>

<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui image">
            <img src="{% static 'anuncios/img/image.png' %}">
        </div>
    </div>

    <div class="sixteen wide column">
        <h2 class="ui header">Preço: R$ {{ anuncio.preco }}</h2>
        <h2 class="ui header">Descrição</h2>
        {% if anuncio.descricao %}
        <p>{{ anuncio.descricao }}</p>
        {% else %}
        <p>Este anúncio não possui descrição.</p>
        {% endif %}
    </div>
</div>

{% endblock %}