{% load static %}

<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Django Anúncios</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.js"></script>
</head>

<body>

<div class="ui attached menu">
    <div class="ui container">
        <a href="{% url 'home' %}" class="item">Django Anúncios</a>
        <div class="right menu">
            <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                    <input class="prompt" type="text" placeholder="Pesquisar...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                {% for categoria in categorias %}
                <a href="{% url 'categoria' categoria.id %}" class="item">
                    {{ categoria }}
                </a>
                {% endfor %}
            </div>
        </div>


        <div class="twelve wide column">
            {% if categoria %}
                <h1 class="ui header">{{ categoria }}</h1>
            {% endif %}

            {% block conteudo %}
            {% endblock %}
        </div>
    </div>
</div>

</body>

</html>